{{ form_start(form) }}
<div class="form-inputs">
	<label for="form_title" class="form-label">Título</label>
	{{ form_errors(form.title) }}
  <input type="text" id="form_title" name="form[title]" class="form-control" />
  <small class="text-muted">Este campo é obrigatório</small>
</div>

<div class="form-inputs">
	<label for="form_description" class="form-label">Descrição</label>
	{{ form_errors(form.description) }}
  <textarea type="text" id="form_description" max-length="4000" name="form[description]" class="form-control">
  </textarea>
</div>

<div class="form-inputs">
	<label for="form_image" class="form-label">Imagem</label>
	{{ form_errors(form.image) }}
  <input type="file" id="form_image" name="form[image]" class="form-control" />
  <small class="text-muted">Este campo é obrigatório</small>
</div>

<div class="form-inputs">
	<label for="form_stock" class="form-label">Estoque</label>
	{{ form_errors(form.stock) }}
  <input type="number" id="form_stock" name="form[stock]" class="form-control" />
  <small class="text-muted">Este campo é obrigatório</small>
</div>
<button class="btn btn-success">Enviar</button>
{{ form_end(form) }}
