{{ form_start(form) }}
{{ form_row(form.title) }}
{{ form_row(form.description) }}
{{ form_row(form.image) }}
<div class="load_image">
	<h5>
	Imagem selecionada: 
	</h5>
	<img height="100">
</div>
{{ form_row(form.stock) }}
<input type="submit" class="btn btn-success" value="Enviar">
{{ form_end(form) }}

<script>
	$(".load_image").hide();
	$("#product_image").on("blur", function() {
		let validate = true;

		let image = new Image();

		image.onload = function() {
			let url_image = $("#product_image").val();
			let type = url_image.substr(-3);
			if(type == "jpg" || type == "png" || type == "gif") {
				$(".load_image img").attr("src", $("#product_image").val());
				$(".load_image").show();
			} else {
				alert("Formato de imagem inválido!");
				$(".load_image").hide();
				$("#product_image").val("");
			}
		}

		image.onerror = function() {
			$(".load_image").hide();
			$("#product_image").val("");

			alert("URL da imagem é inexistente!");
		}

		image.src = $("#product_image").val();
	});
</script>
